<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    When Close :
    <div
      style="
        flex: 1 1 0%;
        color: var(--slate-300);
        --darkreader-inline-color: var(--darkreader-text--slate-300, #e8e6e3);
      "
      data-darkreader-inline-color=""
    >
      please select a character
    </div>

    After Open :
    <div
      style="
        flex: 1 1 0%;
        --darkreader-inline-color: var(--darkreader-text--slate-300, #e8e6e3);
      "
      data-darkreader-inline-color=""
    >
      <div class="character-detail">
        <img
          src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"
          alt="Rick Sanchez"
          class="character-detail__img"
        />
        <div class="character-detail__info">
          <h3 class="name"><span>👨</span><span>&nbsp;Rick Sanchez</span></h3>
          <div class="info">
            <span class="status"></span><span>&nbsp;Alive</span
            ><span> - Human </span>
          </div>
          <div class="location">
            <p>Last known location:</p>
            <span>Citadel of Ricks</span>
          </div>
          <div class="actions"><p>Already added to Favorites ✅</p></div>
        </div>
      </div>
      <div class="character-episodes">
        <div class="title">
          <h2>List of Episodes</h2>
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              class="icon"
              style="rotate: 0deg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </button>
        </div>
        <ul>
          <li>
            <div>01-S01E01 : <strong>Pilot</strong></div>
            <div class="badge badge--secondary">December 2, 2013</div>
          </li>
          <li>
            <div>02-S01E02 : <strong>Lawnmower Dog</strong></div>
            <div class="badge badge--secondary">December 9, 2013</div>
          </li>
          <li>
            <div>03-S01E03 : <strong>Anatomy Park</strong></div>
            <div class="badge badge--secondary">December 16, 2013</div>
          </li>
          <li>
            <div>04-S01E04 : <strong>M. Night Shaym-Aliens!</strong></div>
            <div class="badge badge--secondary">January 13, 2014</div>
          </li>
          <li>
            <div>05-S01E05 : <strong>Meeseeks and Destroy</strong></div>
            <div class="badge badge--secondary">January 20, 2014</div>
          </li>
          <li>
            <div>06-S01E06 : <strong>Rick Potion #9</strong></div>
            <div class="badge badge--secondary">January 27, 2014</div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
